.user-cart-pay {
    display: flex;
    margin: auto;
    width: 100%;
    min-height: 500px;
    justify-content: space-around;
    /* align-items: center; */
    background-color: rgb(53, 31, 13);
    color: #fff;
    margin-bottom: 10px;
}

.fl-dp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-cart-item-info, .user-cart-bill {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 20px 20px 0;
    width: 40%;
}

.user-cart-item-info-title, .user-cart-bill-title {
    font-size: 1.6rem;
}

.user-cart-bill {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 20ox;
    width: 25%;
}

.user-cart-bill-title {
    margin-bottom: 20px;
}

.user__cart-total-cost {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 30px 0;
    /* padding-right: 200px; */
}

.user-pay-submit {
    font-size: 1.4rem;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}